
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 100px;
}

#topLeft {
    float: left;
    width: 160px;
}

#topCenter {
    clear: right;
    margin: 70px 0px 0px 0px;
}

#topRight {
    float: right;
}

#leftPaie {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 45%;
    height: 360px;
}

#rightPaie {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 45%;
    height: 360px;
    margin-bottom: 10px;
}

#bottomPaie {
    clear: both;
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.form
{
    display: block;
    width: 200px;
    margin-top: 5px;
    float: left;
    vertical-align: bottom;
}

.adress label{
    float: right;
    margin-left: 15px;
    position: relative;
}

.radioButton{
    float: left;
}

.radio{
    display: block;
    width: 100px;
    margin-top: 5px;
    float: left;
    vertical-align: bottom;
}

#cheque{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #FFFFDF;
    display: inline-block;
    margin-left: 5px;
}

.bouton{
    padding: 3px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size: 12px;
    display: inline-block;
}
.bouton:hover{
    padding: 3px;
    background: rgb(161,161,161); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(161,161,161) 0%, rgb(144,144,144) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(161,161,161)), color-stop(100%,rgb(144,144,144))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(161,161,161) 0%,rgb(144,144,144) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(161,161,161) 0%,rgb(144,144,144) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(161,161,161) 0%,rgb(144,144,144) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(161,161,161) 0%,rgb(144,144,144) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#909090',GradientType=0 ); /* IE6-9 */
    color:black;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size: 12px;
}