<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GWTService</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceDeleteAccount</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceDeleteAccountImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceCommandHandler</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceCommandHandlerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceAddEncyclopedia</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceAddEncyclopediaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceAddTriple</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceAddTripleImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GWTServiceModifyAccount</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceModifyAccountImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceAddImage</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceAddImageImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceCopyright</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceCopyrightImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GWTServiceAddImage</servlet-name>
        <url-pattern>/org.yournamehere.AjoutImage/sampleService/gwtserviceaddimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.Main/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.AjoutAccessoire/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceModifyAccount</servlet-name>
        <url-pattern>/org.yournamehere.Main/sampleservice/gwtservicemodifyaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceCopyright</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/sampleservice/gwtservicecopyright</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceDeleteAccount</servlet-name>
        <url-pattern>/org.yournamehere.SupprimerCompte/sampleservice/gwtservicedeleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceCommandHandler</servlet-name>
        <url-pattern>/org.yournamehere.GestionCommandes/sampleservice/gwtservicecommandhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddEncyclopedia</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/sampleService/gwtserviceaddencyclopedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddEncyclopedia</servlet-name>
        <url-pattern>/org.yournamehere.AjoutAccessoire/sampleService/gwtserviceaddencyclopedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddEncyclopedia</servlet-name>
        <url-pattern>/org.yournamehere.AjoutAutre/sampleService/gwtserviceaddencyclopedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddTriple</servlet-name>
        <url-pattern>/org.yournamehere.AjoutTriple/sampleService/gwtserviceaddtriple</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>*.gupld</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
