<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GWTService</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GWTServiceAddGame</servlet-name>
        <servlet-class>org.yournamehere.server.GWTServiceAddGameImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceModifyAccount</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceModifyAccountImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceAddAccessory</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceAddAccessoryImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GWTServiceCopyright</servlet-name>
        <servlet-class>org.yournamehere.server.sampleService.GWTServiceCopyrightImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.Main/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTService</servlet-name>
        <url-pattern>/org.yournamehere.AjoutAccessoire/gwtservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddGame</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/sampleservice/gwtserviceaddgame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceModifyAccount</servlet-name>
        <url-pattern>/org.yournamehere.Main/sampleservice/gwtservicemodifyaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceAddAccessory</servlet-name>
        <url-pattern>/org.yournamehere.AjoutAccessoire/sampleservice/gwtserviceaddaccessory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GWTServiceCopyright</servlet-name>
        <url-pattern>/org.yournamehere.AjoutJeu/sampleservice/gwtservicecopyright</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
